<div class="row animated bounceInRight">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil del usuario</h4>
                <h6 class="card-subtitle">made with bootstrap elements</h6>
                <form #f="ngForm" ngNativeValidate class="form p-t-20" (ngSubmit)="save(f.value)">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <!--ngModel solo en [] porque no quiero que modifique el valor-->
                            <input [ngModel]="user.name" name="name" type="text" class="form-control" id="exampleInputuname" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="user.email" [disabled]="user.google" name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                    <!--
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                    -->
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body align">
                <h4 class="card-title">Fotorafía del usuario</h4>
                <h6 class="card-subtitle">{{user.name}}</h6>
                <img *ngIf="!temporaryImage" [src]="user.img | image" class="w150">
                <img *ngIf="temporaryImage" [src]="temporaryImage" class="w150">
                <div class="form-group">
                    <!--change se dispara cada que cambie-->
                    <input (change)="imageSelection($event.target.files[0])" type="file">
                </div>
                <button (click)="changeImage()" [disabled]="!uploadImage" type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                    <i class="fa fa-user"></i>
                    Actualizar foto
                </button>
            </div>
        </div>
    </div>
</div>