<h3> {{ legend }} - {{ progress }} </h3>
<div class="input-group">
    <span class="input-group-btn">
        <button (click)="changeValue(-5)" class="btn btn-primary" type="button">
            <i class="mdi mdi-minus"></i>
        </button>
    </span>
    <!--Con las propiedades min y max convierte la caja de texto en una caja numérica-->
    <!--ngModelChange: es un evento que emiten los ngModel cuando cambian su valor-->
    <input #txtProgress type="number" class="form-control" name="progress" [(ngModel)]="progress" (ngModelChange)="onChanges($event)" min="1" max="100">
    <span class="input-group-btn">
        <button (click)="changeValue(+5)" class="btn btn-primary" type="button">
            <i class="mdi mdi-plus"></i>
        </button>
    </span>
</div>