/* You can add global styles to this file, and also import other style files */


/* Haciendo referencia con el id: css - accout-settings */

#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

.align {
    text-align: center;
}

.w70 {
    width: 70px;
}

.img-50 {
    width: 50px;
}

.color {
    background: #0D97C6;
}

i {
    color: #fff;
}

td {
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
}